modeles/header.pug
 header
        a href="index.html">На главную
        a href="https://www.youtube.com/channel/UCJ2noqgJN8CuHGmBgjrfa0w">Канал
        a href="altpj.html">Наши соц.сети
        a href="altpj.html">Видео
        a href="altpj.html">Фото
        a href="Merch.html">Мерч

